{% extends "club_manager/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>club_detail</title>
</head>
<body>
    {% block content %}
        <p>Club: {{ club }}</p>

        <p>Groups:</p>
        <p>
            <a href="{% url 'club_manager:new_group' club.id %}">Create new group</a>
        </p>
            <ul>
              {% for group in groups %}
              <li>
                  <a href="{% url 'club_manager:group' group.id %}">{{ group }}</a>
              </li>
                {% empty %}
                  <li>No groups have been added to {{ club }} yet.</li>
              {% endfor %}
            </ul>

        <p>Members:</p>
        <p>
            <a href="{% url 'club_manager:new_member' club.id %}">Add new member</a>
        </p>
            <ul>
              {% for member in members %}
              <li>
                  <a href="{% url 'club_manager:member' member.id %}">{{ member }}</a>
              </li>
                {% empty %}
                  <li>No members have been added to {{ club }} yet.</li>
              {% endfor %}
            </ul>
    {% endblock content %}
</body>
</html>