{% extends "club_manager/base.html" %}

{% block page_header %}
    <h2>{{ club }}</h2>
{% endblock page_header %}

{% block content %}
    <p><i>Club type: {{ club.club_type }}</i></p>

    <h4>Groups:</h4>
        <p>
            <a href="{% url 'club_manager:new_group' club.id %}">Create new group</a>
        </p>
        <ul>
        {% for group in groups %}
              <li>
                  <a href="{% url 'club_manager:group' group.id %}">{{ group }}</a>
              </li>
        {% empty %}
          <p>No groups have been added to {{ club }} yet.</p>
        {% endfor %}
        </ul>
        <hr/>

        <h4>Members:</h4>
        <p>
            <a href="{% url 'club_manager:new_member' club.id %}">Add new member</a>
        </p>
            <ul>
              {% for member in members %}
              <li>
                  <a href="{% url 'club_manager:member' member.id %}">{{ member }}</a>
              </li>
                {% empty %}
                  <li>No members have been added to {{ club }} yet.</li>
              {% endfor %}
            </ul>

        <hr/>

        <h4>Tournaments:</h4>
        <p>
            <a href="{% url 'club_manager:add_tournament' club.id %}">Create tournament</a>
        </p>
            <ul>
              {% for tournament in tournaments %}
              <li>
                  <a href="{% url 'club_manager:tournament' tournament.id %}">{{ tournament }}</a>
              </li>
                {% empty %}
                  <li>No tournaments have been added to {{ club }} yet.</li>
              {% endfor %}
            </ul>

        <hr/>

        <h4>Officers:</h4>
            <ul>
              {% for officer in officers %}
              <li>
                {{ officer }}
                <p>
                  <a href="{% url 'club_manager:delete_officer' officer.pk %}">Delete officer</a>
                </p>
              </li>
                {% empty %}
                  <li>No officers have been added to {{ club }} yet.</li>
              {% endfor %}
            </ul>

        <hr/>

        <p>
            <a href="{% url 'club_manager:edit_club' club.id %}">Edit club</a>
        </p>
        <p>
            <a href="{% url 'club_manager:delete_club' club.pk %}">Delete club</a>
        </p>
{% endblock content %}
