{% extends "club_manager/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>group</title>
</head>
<body>
    {% block content %}
        <p>Group: {{ group }}</p>

        <p>Coach: {{ coach }}</p>

        <p>Players:</p>
            <ul>
              {% for player in players %}
              <li>
                  <p> {{ player }}</p>
              </li>
                {% empty %}
                  <li>No players have been added to {{ group }} yet.</li>
              {% endfor %}
            </ul>
    {% endblock content %}
</body>
</html>