{% extends "club_manager/base.html" %}

{% block page_header %}
    <p><h2><a href="{% url 'club_manager:club' club.id %}">{{ club }}</a></h2></p>
{% endblock page_header %}

{% block content %}

    <p><h4>Group: {{ group }}</h4></p>
    <p>
        <a href="{% url 'club_manager:edit_group' group.id %}">Edit group</a>
    </p>

    <p><h6>Coaches:</h6></p>
        <p>
        <ul>
          {% for coach in coaches %}
          <li>
              <p> {{ coach }}</p>
              <p>
                  <a href="{% url 'club_manager:delete_coach' coach.pk %}">Delete coach</a>
              </p>
          </li>
            {% empty %}
              <li>No coaches have been added to {{ group }} yet.</li>
          {% endfor %}
        </ul>
        </p>

        <p><a href="{% url 'club_manager:add_coach' group.id %}">Add a coach</a></p>
    <hr/>

    <p><h6>Players:</h6></p>
        <ul>
          {% for player in players %}
          <li>
              <a href="{% url 'club_manager:player' player.id %}">{{ player }}</a>
          </li>
            {% empty %}
              <li>No players have been added to {{ group }} yet.</li>
          {% endfor %}
        </ul>

    <p>
        <a href="{% url 'club_manager:delete_group' group.pk %}">Delete group</a>
    </p>
{% endblock content %}