{% extends "club_manager/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new_group</title>
</head>
<body>
    {% block content %}

        <p><a href="{% url 'club_manager:club' club.id %}">{{ club }}</a></p>

        <p>Create a new group:</p>
            <form action="{% url 'club_manager:new_group' club.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button name="submit">Create group</button>
            </form>

    {% endblock content %}
</body>
</html>